
.header{

    background-color: salmon;
    padding: 10px;
    text-align: center;
    background-image: url('../../assets/knjizara.jpg');
}
.footer{
    background-color: salmon;
    padding: 10px;
  
    text-align: right;
    background-image: url('../../assets/knjizara.jpg');
}
.pozadina {
    background-color:antiquewhite;
    padding: 20px;
    height:1000px;
   
   
  }
  @media only screen and (max-width:600px){
    .container{
        width: 100%;
        padding-left:3%;
        padding-right:3%;
        padding-top:0px;
        box-sizing: border-box;
        overflow: hidden;
    }
  }